.spread {
  display: flex;
  justify-content: space-between;
}

.label-type {
  min-width: 100px;
}

.label-value {
  display: flex;
}

.options-icons {
  display: flex;
  justify-content: space-evenly;
}
