.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.fullHeight {
  height: 100%;
};

.footer {
  width: 100%;
  background-color: grey;
}

.main-data {
  height: 100%;
}
